
body {
    width: 50%;
    margin: 0px;
    height: 0vmax;
   
    

    
}
* {
 margin: 0px;
 padding: 0px;
 font-family: san-serif;
 display: block;
 text-decoration: none;
 display: inline;
}


#nav-bar {
    display: flex;
    justify-content: flex-end;
}

ul a {
    
    padding: 15px;
    padding-top: 25px;
    margin-right: 6em;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    float: left;
}

img {
    color: red;
}

