.name-container{
  margin-top: 16%;
  margin-bottom: 10%;
  height: 100%;
  justify-content: center;
}

.name-container h1 {
  font-weight: normal;
  text-transform: uppercase;
  background-image: url(../images/clip2.jpg);
  background-repeat:repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 60s linear infinite;


}

@keyframes animate
{

  40%
  {
      background-position: left 800px top -10px;
  }
}

.intro {
  font-size: 138px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-text-stroke-width: 1px;    
}


