

.intro {
  font-size: 135px;
  display: grid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
-webkit-text-stroke-width: 1px;    
}

.loader {
  margin-top: 25%;
  margin-left: 50%;

  justify-content: center;
  transform: translate(-50%, -50%);
}

.loader h1 {


  font-weight: normal;
  text-transform: uppercase;
  background-image: url(../images/clip2.jpg);
  background-repeat:repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 60s linear infinite;


}

@keyframes animate
{

  40%
  {
      background-position: left 800px top -10px;
  }
}
