.projects-container{
  display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4em;
    padding: 35px;
    margin-right: 3em;
    margin-bottom: 0;
    height: 50em;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    
  
}

img {
  height: 550px;
  width: 550px;
}

p {
  display: block;
}

.project-links a {
  position: relative;
  text-decoration: none; 
  color: black; 
}


h4 {
  display: inline;
  text-align: center;
  padding: 10px;
  margin-left: 2em;
  
}
.project-links{
  position: absolute;
  padding: 10px;
  margin-left: 4em;
}

.project-one{
  
}

.project-two{

}

.project-three{
 
}