


.projects-container{
  padding: 100px;
  margin-top: -7em;
}

.scrolling-wrapper {
  display: grid;
  width: 680px;
  height: 53vh;
  padding-top: 40px;
  background-color: #353037;
  border-radius: 8px;
}

.project-img {
  width: 300px;
  height: 40vh;
  float: left;
  margin-left: 1.5em;
  border-radius: 4px;
}
.project-name{
  color: wheat;
  margin-top: -10px;
  margin-bottom: 35px;

}
.project-description{
  float: right;
  margin-right: 1em;
  color: white;
}


.icon-container{
  position: absolute;
  margin-top: 5em;
  margin-left: 23em;
  color:white;
}
.devicon-mongodb-plain,
.devicon-express-original,
.devicon-nodejs-plain{
  font-size: 80px;
  padding: 7px;
  color: wheat;
}


.project-link-container{
  position: absolute;
  margin-top: 17.5em;
  margin-left: 23.5em;
  color: white;
}

.project-link {
  padding: 20px;
  font-weight: bold;

}

.project-link:hover{
  color: yellow;
  
}

.tools-used{
  color: wheat;
}

.app{
  font-weight: bold;
  color: wheat;

}

span{
  font-weight: normal;
  color: white;
}